USE [master]
GO
/****** Object:  Database [CLUB]    Script Date: 21/9/2024 10:55:00 ******/
CREATE DATABASE [CLUB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CLUB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CLUB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CLUB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CLUB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CLUB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CLUB]
GO
/****** Object:  Table [dbo].[DEPORTES]    Script Date: 21/9/2024 10:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPORTES](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[Es_grupal] [bit] NOT NULL,
 CONSTRAINT [PK_Deportes] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOCIOS]    Script Date: 21/9/2024 10:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOCIOS](
	[Num_Socio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[DNI] [varchar](20) NOT NULL,
	[Codigo_Deporte] [int] NOT NULL,
 CONSTRAINT [PK_SOCIOS] PRIMARY KEY CLUSTERED 
(
	[Num_Socio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DEPORTES] ON 

INSERT [dbo].[DEPORTES] ([Codigo], [Nombre], [Es_grupal]) VALUES (1, N'Tenis', 0)
INSERT [dbo].[DEPORTES] ([Codigo], [Nombre], [Es_grupal]) VALUES (2, N'Futbol', 1)
INSERT [dbo].[DEPORTES] ([Codigo], [Nombre], [Es_grupal]) VALUES (3, N'Basquet', 1)
SET IDENTITY_INSERT [dbo].[DEPORTES] OFF
GO
SET IDENTITY_INSERT [dbo].[SOCIOS] ON 

INSERT [dbo].[SOCIOS] ([Num_Socio], [Nombre], [Apellido], [DNI], [Codigo_Deporte]) VALUES (1, N'Pablo', N'Arrieta', N'12345678', 1)
INSERT [dbo].[SOCIOS] ([Num_Socio], [Nombre], [Apellido], [DNI], [Codigo_Deporte]) VALUES (2, N'Juan', N'Pires', N'90123456', 2)
INSERT [dbo].[SOCIOS] ([Num_Socio], [Nombre], [Apellido], [DNI], [Codigo_Deporte]) VALUES (3, N'Carlos', N'Bujan', N'78901234', 3)
SET IDENTITY_INSERT [dbo].[SOCIOS] OFF
GO
ALTER TABLE [dbo].[SOCIOS]  WITH CHECK ADD  CONSTRAINT [FK_SOCIOS_DEPORTES] FOREIGN KEY([Codigo_Deporte])
REFERENCES [dbo].[DEPORTES] ([Codigo])
GO
ALTER TABLE [dbo].[SOCIOS] CHECK CONSTRAINT [FK_SOCIOS_DEPORTES]
GO
USE [master]
GO
